.login-main{
  /* border: 1px solid black; */
    display: grid;
    place-items: center;
    margin: 200px auto;
    width: 20%;
    padding: 30px;
    height: 40%;
    background-color: whitesmoke;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
